<section class="section">
  <div class="container">
    <h2 class="title">Your Collection</h2>
    {{#if logged_in}}
      {{#if entries.length}}
        <div class="card-list">
          {{#each entries}}
            <div class="card mb-5">
              <div class="card-content">
                <p class="title">{{this.title}}</p>
                <p class="description">{{this.description}}</p>
                <div id="map-{{@index}}" class="map-container"></div> 
                <button class="button is-primary mt-3" data-id="{{this.id}}" onclick="window.location.href='/editEntry/{{this.id}}'">Edit</button>
                <button class="button is-danger mt-3" data-id="{{this.id}}" onclick="deleteEntry({{this.id}})">Delete</button>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <p class="subtitle">You have no entries yet. Start adding some!</p>
      {{/if}}
    {{else}}
      <p class="subtitle">Please log in to view your collection.</p>
      <a href="/login" class="button is-primary">Login</a>
    {{/if}}
  </div>
</section>

<!-- Mapbox CSS -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet">

<!-- Mapbox JS -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    mapboxgl.accessToken = '{{mapboxToken}}';
    {{#each entries}}
      (function(index) {
        const coordinates = '{{this.location}}'.split(',').reverse().map(coord => parseFloat(coord.trim()));
        console.log('Coordinates for entry ' + index + ':', coordinates); 
        
        const map = new mapboxgl.Map({
          container: 'map-' + index,
          style: 'mapbox://styles/mapbox/streets-v11',
          center: coordinates,
          zoom: 15 
        });
         new mapboxgl.Marker()
          .setLngLat(coordinates)
          .addTo(map);
      })({{@index}});
    {{/each}}
  });


  async function deleteEntry(id) {
    const response = await fetch(`/api/entries/${id}`, {
      method: 'DELETE',
      headers: { 'Content-Type': 'application/json' },
    });
    if (response.ok) {
      // Reload the page to reflect changes
      document.location.reload();
    } else {
      alert('Failed to delete entry.');
    }
  }
</script>